<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="../../static/bootstrap/bootstrap.min.css"
          th:href="@{/bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h2>Developer Details</h2>
    <div>
        <form class="form-horizontal" th:object="${developerForm}" th:action="@{/developer}" method="post">
            <input type="hidden" th:field="*{developerId}"/>
            <input type="hidden" th:field="*{developerVersion}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{developerName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{developerDescription}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Image Url:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{developerImageUrl}"/>
                </div>
            </div>
            <div class="container-fluid">
                <button class="btn btn-success pull-right" type="submit" name="addProduct" >Add Product</button>
            </div>
            <div class="container-fluid " style="margin-top: 20px">
                <table class="table table-striped">
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image URL</th>
                        <th>Publisher</th>
                        <th></th>
                    </tr>
                    <tr th:each="product,i : *{developerProducts}">
                        <input type="hidden" th:field="*{developerProducts[__${i.index}__].id}"/>
                        <input type="hidden" th:field="*{developerProducts[__${i.index}__].version}"/>
                        <input type="hidden" th:field="*{developerProducts[__${i.index}__].developer}"/>
                        <input type="hidden" th:field="*{developerProducts[__${i.index}__].publisher}"/>
                        <td>
                            <input type="text" th:field="*{developerProducts[__${i.index}__].name}"/>
                        </td>
                        <td>
                            <input type="text" th:field="*{developerProducts[__${i.index}__].description}"/>
                        </td>
                        <td>
                            <input type="text" th:field="*{developerProducts[__${i.index}__].price}"/>
                        </td>
                        <td>
                            <input type="text" th:field="*{developerProducts[__${i.index}__].imageUrl}"/>
                        </td>
                        <td>
                            <select th:field="*{developerProducts[__${i.index}__].publisher.id}">
                                <option th:each="publisher:${publishers}"
                                        th:value="${publisher.id}"
                                        th:text="${publisher.name}">List
                                </option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="submit" name="removeProduct" th:value="${i.index}" >Remove</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="container-fluid">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>