<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<!-- Navbar -->
<div class="navbar navbar-inverse twoRow" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{../store}">
                Humble Bundle
            </a>
        </div>
        <!-- First row, collapsable -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{workinprogress}"><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
                <li><a th:href="@{workinprogress}"><span class="glyphicon glyphicon-bold"></span> Blog</a></li>
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><p th:text="' ' + ${userEmail} + ' '" th:remove="tag"></p>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/customer/orderhistory}"><span class="glyphicon glyphicon-book"></span> Purchases </a></li>
                        <li><a th:href="@{/customer/setting}"><span class="glyphicon glyphicon-tasks"></span> Setting </a></li>
                        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-record"></span> Logout </a></li>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}" ><span class="glyphicon glyphicon-user"></span> Log In / Sign Up </a></li>
            </ul>
        </div>

        <!-- Second row -->
        <div>
            <ul class="nav navbar-nav secondRow">
                <li th:classappend="${page == 'index' ? 'active' : ''}"><a th:href="@{/}">Game Bundle</a></li>
                <li th:classappend="${page == 'store' ? 'active' : ''}"><a th:href="@{/store}">Game Store</a></li>
                <li th:classappend="${page == 'admin' ? 'active' : ''}"><a class="admin-link" th:href="@{/admin}"><strong>Admin</strong></a></li>
                <li th:classappend="${page == 'about' ? 'active' : ''}"><a class="admin-link" th:href="@{/about}"><strong>About</strong></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>