<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Test - List Products</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>

    <link href="../static/bootstrap/bootstrap.min.css"
          th:href="@{bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="../static/js/index.js" th:src="@{js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color">
    <div class="container">
        <!--first row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Product</div>
                    <div class="panel-body">CRUD any Game, CD or book as induvidual product.</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" href="#" th:href="@{/product/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" href="#" th:href="@{/product/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Developer</div>
                    <div class="panel-body">Self-explanatory subsets of products. <mark>You can qucikly create/attach many
                        products to one developer.</mark>
                    </div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" href="#" th:href="@{/developer/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" href="#" th:href="@{/developer/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    Essential daily tasks and core entities.
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bundle</div>
                    <div class="panel-body">Key subsets of products. Will be represented directly to the home page.
                    </div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" href="#" th:href="@{/bundle/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" href="#" th:href="@{/bundle/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Publisher</div>
                    <div class="panel-body">Self-explanatory subsets of products.</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" href="#" th:href="@{/publisher/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" href="#" th:href="@{/publisher/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    Representing and grouping entities.
                </div>
            </div>
        </div>
        <!--third row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">User and Role</div>
                    <div class="panel-body">Authorization and Authentication</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" href="#" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" href="#">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Helpers</div>
                    <div class="panel-body">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <div th:unless="${initaited}">
                                <a class="btn btn-sm btn-danger" href="#" th:href="@{/generatedummydata}">Dummy Data Generation</a>
                            </div>
                            <a class="btn btn-sm btn-info" href="#" th:href="@{/publisher/list}" target="_blank">Find Un-assigned Dev/Pub
                                Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    Entities helpers and users management.
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>