<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Test - List Products</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="http://jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
            th:href="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div class="navbar navbar-inverse">

        <div class="container">
            <a href="#" class="navbar-brand navbar-center">Humber Bundle</a>

            <div>
                <ul class="nav navbar-nav  navbar-center">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Projects</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Sign Up for News</a></li>
                </ul>
            </div>
        </div>

    </div>



</body>
</html>